@import "tailwindcss";

@theme {
  /* Cusom colors */
  --color-primary: #ffcc00; /* Primary yellow */
  --color-secondary: #ffff00; /* Beacon yellow */
  --color-text: #1e1e1e;
  --color-neutral-white: #ffffff;
  --color-neutral-lightGray: #ebebeb;
  --color-neutral-gray: #bebeb9;
  --color-neutral-black: #1e1e1e;

  /* Custom typography */
  --font-display: "Mono", "sans-serif";
  --font-size-title: 40px;
  --font-size-section-heading: 32px;
  --font-size-subsection-heading: 20px;
  --font-size-body: 16px;
}

@layer base {
  body {
    color: var(--color-text);
    background-color: var(--color-neutral-lightGray);
  }
  h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-semibold);
  }
  h2 {
    font-size: var(--font-size-section-heading);
    font-weight: var(--font-weight-semibold);
  }
  h3 {
    font-size: var(--font-size-subsection-heading);
    font-weight: var(--font-weight-semibold);
  }
  p {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-light);
  }
}

.nav-item {
  @apply pt-2 border-transparent border-b-4 hover:border-amber-200 h-[80px] flex items-center text-[16px] font-semibold xl:ms-8 lg:ms-2.5;
}

.help-item {
  @apply flex items-center;
}

.mobile-nav-item {
  @apply flex font-light items-center mb-10;
}

.primary-button {
  @apply flex items-center px-8 bg-primary h-12 rounded-4xl font-light hover:cursor-pointer;
}

.secondary-button {
  @apply border-1 border-[#231f20] rounded-full w-40 px-6 font-light hover:cursor-pointer;
}

@keyframes slide-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(calc(100vw - 100%));
  }
}
